html,body {
    margin: 0;
    padding: 0;
  }
  
  body {
   
    padding-top: 1em;
    text-align: center;
    /* background-color: rgb(255, 255, 255); */
   
    
  }
  h1{
    font-size: 50px;
    font-family: 'Blaka', cursive;
    margin: 30px auto;
  }

  #container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0 auto;
   
  }
  
 
  
  canvas {
    display: none;
    border:2px solid rgb(0, 0, 0);
    border-radius: 20px;
    background-image:url(Image/COURTONE.jpg) ;
    background-size: cover;
    padding: 0 auto;
    margin: 0px auto;
     width: 43vh;
     height: 75vh;
  }

  #zImage{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    
  }

/* ANIMATION 001*/
 .cell {
    position: absolute; 
    display: block;
    bottom: -500px;   
    animation: opening 2s infinite;
    /* animation: opening 2s 4; */
} 

#img0 {
  left: 33%;
  animation-delay: 5s;
}
#img1 {
  left: 45%;
  animation-delay: 2s;
}
#img2 {
  left: 15%;
  animation-delay: 2s;
}


  @keyframes opening {
    0% {
        transform: translateY(500); 
       
    }
    100% {
        transform: translateY(-1300px) translateX(-500px) rotate(2000deg) scale(500%);
      
    }
}

  /* ANIMATION 002*/
 .cell2 {
    position: absolute; 
    display: block;
    bottom: -500px;   
    animation: opening2 2s infinite;
    /* animation: opening 2s 4; */
} 

#imgT0 {
  right: 35%;
  animation-delay: 5s;
}
#imgT1 {
  right: 47%;
  animation-delay: 2s;
}
#imgT2 {
  right: 15%;
  animation-delay: 2s;
}


  @keyframes opening2 {
    0% {
       transform: translateY(500); 
       
    }
    100% {
      transform: translateY(-1500px) translateX(450px) rotate(2000deg) scale(800%);
      
    }
}
  

 