html,body {
    margin: 0;
    padding: 0;
  }
  
  body {
   
    padding-top: 1em;
    text-align: center;
    /* background-color: rgb(255, 255, 255); */
   
    
  }
  h1{
    margin: 30px auto;
  }
  #container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0 auto;
  }
  
 
  
  canvas {
    display: none;
    border:2px solid rgb(0, 0, 0);
    border-radius: 20px;
    background-image:url(Image/COURTONE.jpg) ;
    background-size: cover;
    padding: 0 auto;
    
   
    

    
    /* transform:rotate(90deg); */
    /* background-color: rgb(255, 255, 255); */
    margin: 0px auto;
    /* min-width:300px;
    width: 440px;
    min-height: 600px;
    height: 800px;s
     */
     width: 43vh;
     height: 75vh;
  }
  

 